start-common
end-common

start-nac2cdfg
-force-data-types
-ssa
-pseudo-ssa
-unique-ssavars
-emit-nac
-emit-cfg
-emit-cg
end-nac2cdfg

start-cdfg2hdl
-sched-naive
-ieee 
-vhd2vl 
-mpint
-ghdl
end-cdfg2hdl

start-more
-optimizations
-nacsopt
-nacpeep
-rsim
-datagen
-emit-cdfg
-emit-vhdl
end-more
